doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title liamcurry/spa-skeleton
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href=`${process.env.BASE_URL}/index.css`)
        script(src=`${process.env.BASE_URL}/index.js`)

        if process.env.SW_CACHE_ENABLED
            script(src=`${process.env.BASE_URL}/service-worker-registration.js`)

        if process.env.GOOGLE_WEBMASTER_KEY
            meta(name='google-site-verification' content=process.env.GOOGLE_WEBMASTER_KEY)

    body
        noscript
            | This site requires Javascript to be enabled.

        if process.env.GOOGLE_ANALYTICS_KEY
            script(src='https://www.google-analytics.com/analytics.js' async defer)
